@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

a:link {
  text-decoration: none;
}

body {
  background-color: #cbf3f0;
  padding: 15px;
}

h1 {
  color: #FF9F1C;
}

.navbar,
.logo,
.about {
  border-radius: 5px;
  background-color: #FFBF69;
  color: #289f93;
  font-family: 'Fjalla One', sans-serif;
  padding: 5px;
}

.about {
  padding-right: 10px;
}

button {
  box-shadow: inset 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #FFBF69 100%);
  background-color: #CBF3F0;
  border-radius: 6px;
  border: 1px solid #FF9F1C;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}

button:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #FFFFFF 100%);
  background-color: #FF9F1C;
}

button:active {
  position: relative;
  top: 1px;
}

/* .recipesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(15, 5vw);
  grid-gap: 15px;
} */