@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

a:link {
  text-decoration: none;
}

body {
  background-color: #cbf3f0
}

h1 {
  color: #FF9F1C;
}

.navbar,
.logo,
.about {
  background-color: #FFBF69;
  color: #289f93;
  font-family: 'Fjalla One', sans-serif;
}

.about {
  padding-right: 10px;
}